apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster-dep

spec:
  replicas: 1
  selector:
    matchLabels:
      app: broadcaster

  template:
    metadata:
      labels:
        app: broadcaster

    spec:
      containers:
        - name: broadcaster
          image: akhonya/broadcaster:v1.0.0
          imagePullPolicy: IfNotPresent
          envFrom: 
            - secretRef:
                name: broadcaster