apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep

spec:
  replicas: 2
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      initContainers:
        - name: init-db
          image: postgres:16-alpine3.20
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              export PGPASSWORD="$PG_PASSWORD"
              echo "Waiting for Postgres..."
              until pg_isready -h "$PG_HOST" -p 5432 -U "$PG_USER"; do
                sleep 2
              done

              echo "Running init.sql..."
              psql \
                -h "$PG_HOST" \
                -U "$PG_USER" \
                -d "$DB_NAME" \
                -f /sql/init.sql
          envFrom:
            - configMapRef:
                name: db-configmap
          volumeMounts:
            - name: db-init
              mountPath: /sql

      containers:
        - name: pinpong
          image: PROJECT/IMAGE
          imagePullPolicy: IfNotPresent
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 60
            timeoutSeconds: 10
            periodSeconds: 10

          ports:
            - name: backend-http
              containerPort: 3000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: db-configmap
          resources:
            requests:
              memory: "105Mi"
              cpu: "60m"
            limits:
              memory: "150Mi"
              cpu: "150m"

      volumes:
        - name: db-init
          configMap:
            name: db-configmap
