apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: project-ingress

spec:
  rules:
    - http:
        paths:
          - path: /api/v1
            pathType: Prefix
            backend:
              service:
                name: todo-app-service
                port:
                  number: 4000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: todo-app-service
                port:
                  number: 3000
