apiVersion: v1
kind: Service
metadata:
  name: pg-service

spec:
  ports:
    - port: 5432
      name: db
  clusterIP: None
  selector:
    app: postgres

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-stset

spec:
  replicas: 1
  serviceName: pg-service
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgresdb
          image: postgres:16-alpine3.20
          imagePullPolicy: IfNotPresent
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: db-configmap
                  key: PG_PASSWORD

            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: db-configmap
                  key: PG_USER
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: db-configmap
                  key: DB_NAME

            - name: PG_HOST
              valueFrom:
                configMapKeyRef:
                  name: db-configmap
                  key: PG_HOST

          ports:
            - containerPort: 5432
          volumeMounts:
            - name: pg-storage
              mountPath: /var/lib/postgresql/data
              subPath: postgres
      volumes:
        - name: pg-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
