apiVersion: v1
kind: Service
metadata:
  name: todo-app-service

spec:
  type: NodePort
  selector:
    app: todo-app
  ports:
    - name: frontend
      port: 80
      targetPort: 3000

    - name: backend
      port: 81
      targetPort: 4000
