apiVersion: v1
kind: Service
metadata:
  name: todo-app-service

spec:
  type: ClusterIP
  selector:
    app: todo-app
  ports:
    - name: frontend
      port: 3000
      targetPort: 3000

    - name: backend
      port: 4000
      targetPort: 3000
