apiVersion: apps/v1
kind: Deployment
metadata:
  name: dummy-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: controller
  template:
    metadata:
      labels:
        app: controller
    spec:
      serviceAccount: dummysite-serviceaccount
      containers:
        - name: controller
          image: akhonya/dummy-controller:v1.0.0
